parameters:
	tmpDir: build/phpstan
	level: 5
	paths:
		- app/
	excludePaths:
		- app/Config/Auth.php
		- app/Config/Kint.php
		- app/Commands/Generators/Views/*
		- app/Views/errors/cli/*
		- app/Views/errors/html/*
	dynamicConstantNames:
		- APP_NAMESPACE
		- CI_DEBUG
		- ENVIRONMENT
	bootstrapFiles:
		- vendor/codeigniter4/framework/system/Test/bootstrap.php
	ignoreErrors:
	universalObjectCratesClasses:
		- CodeIgniter\Entity
		- CodeIgniter\Entity\Entity
		- Faker\Generator
	scanDirectories:
		- vendor/codeigniter4/framework/system/Helpers
		- vendor/codeigniter4/shield/src/Helpers
		- vendor/codeigniter4/settings/src/Helpers
		- vendor/mihatori/codeignitervite/src/Helpers
	reportUnmatchedIgnoredErrors: false
	checkFunctionNameCase: true
	checkInternalClassCaseSensitivity: true
	codeigniter:
		additionalServices:
			- CodeIgniter\Shield\Config\Services
