$content-bg: #fff;
$g-body-bg: hsl(0deg 0% 95%); // BS uses $body-bg

// BS Colors
$primary: #006aaf;
$secondary: #707070;
$success: #118f40;
$info: #0089af;
$warning: #ffc107;
$danger: #d04539;
$light: #fff;
$dark: #343a40;

// BS Theme-Colors
$theme-colors: (
  'primary-dark': #00436f,
  'primary': $primary,
  'primary-light': #bfdaeb,
  'primary-lighter': #006aaf25,
  'primary-subtle': #cce1ef,
  'secondary': $secondary,
  'secondary-lightish': #d5d5d5,
  'secondary-light': #e8e8e8,
  'secondary-lighter': #f4f4f4,
  'success-dark': #07391a,
  'success': $success,
  'success-light': #19ba51,
  'success-subtle': #cfe9d9,
  'info': $info,
  'warning': $warning,
  'warning-subtle': #fff3cd,
  'danger': $danger,
  'danger-light': #dd776e,
  'danger-subtle': #f6dad7,
  'light': $light,
  'dark': $dark,
  'black': #000,
  'cat-b': #ff0,
  'cat-w': #f8cbad,
  'cat-e': #8eeeac,
  'cat-s': #ffc000,
  'cat-mi': #d9e1f2,
  'cat-sa': #92d050,
  'flieder': #99c,
  'purple': #969,
);

// Special Vars
$header-gradient: linear-gradient(
  to right,
  #ffd400,
  #f9d500,
  #c9c900,
  #74b329,
  #009e3b,
  #009553,
  #008c8e,
  #347996,
  #c2403a,
  #e30010
);

// Fonts

// @font-face {
//   font-family: PageFont;
//   src:
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.woff') format('woff'),
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.ttf') format('truetype');
//   font-weight: bold;
// }

// @font-face {
//   font-family: PageFont;
//   src:
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.woff') format('woff'),
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.ttf') format('truetype');
//   font-weight: normal;
// }

$fa-font-path: '../webfonts/font_awesome';
