@use 'sass:color';

$content-bg: #fff;
$g-body-bg: hsl(0deg 0% 95%); // BS uses $body-bg

// BS Colors
$primary: #006aaf;
$secondary: #707070;
$success: #118f40;
$info: #0089af;
$warning: #ffc107;
$danger: #d04539;
$light: #fff;
$dark: #343a40;

// BS Theme-Colors
$theme-colors: (
  'primary-dark': color.adjust($primary, $lightness: -12%),
  'primary': $primary,
  'primary-light': color.adjust($primary, $lightness: 24%),
  'primary-lighter': color.adjust($primary, $lightness: 36%),
  'primary-subtle': color.adjust($primary, $lightness: 48%),
  'secondary': $secondary,
  'secondary-lightish': color.adjust($secondary, $lightness: 12%),
  'secondary-light': color.adjust($secondary, $lightness: 24%),
  'secondary-lighter': color.adjust($secondary, $lightness: 36%),
  'success-dark': color.adjust($success, $lightness: -12%),
  'success': $success,
  'success-light': color.adjust($success, $lightness: 24%),
  'success-subtle': color.adjust($success, $lightness: 48%),
  'info': $info,
  'info-subtle': color.adjust($info, $lightness: 36%),
  'warning': $warning,
  'warning-subtle': color.adjust($warning, $lightness: 36%),
  'danger': $danger,
  'danger-light': color.adjust($danger, $lightness: 24%),
  'danger-subtle': color.adjust($danger, $lightness: 36%),
  'light': $light,
  'dark': $dark,
  'black': #000,
  'flieder': #99c,
  'purple': #969,
);

// Fonts

// @font-face {
//   font-family: PageFont;
//   src:
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.woff') format('woff'),
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Bold/InfoOTDisp-Bold.ttf') format('truetype');
//   font-weight: bold;
// }

// @font-face {
//   font-family: PageFont;
//   src:
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.woff') format('woff'),
//     url('../webfonts/GEFAKO_CI_Fonts/InfoOTDisp-Regular/InfoOTDisp-Regular.ttf') format('truetype');
//   font-weight: normal;
// }

$fa-font-path: '../webfonts/font_awesome';
